h1{
    font-family: "dalliance-roman", sans-serif;
font-weight: 400;
font-style: normal;
}
 
h2{
    font-family: "dalliance-script", sans-serif;
font-weight: 400;
font-style: normal;
}

h3{
    font-family: "dalliance-script-display", sans-serif;
font-weight: 400;
font-style: normal;
}

p{
    font-family: "dalliance-flourishes", sans-serif;
font-weight: 400;
font-style: normal;
}